<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home - Books.uz</title>
    <link rel="stylesheet" href="/style/home.css" />
  </head>

  <body>
    <header class="header">
      <div class="container">
        <div class="navbar">
          <a href="/"
            ><img width="200" src="/images/inbook.png" alt="Books.uz logo"
          /></a>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/">Catalog</a></li>
            <li><a href="/">About Us</a></li>
            <li><a href="/">Communication</a></li>
          </ul>
          <div class="search-container">
            <input type="text" placeholder="Search..." name="search" />
            <button type="submit">Search</button>
          </div>
        </div>
      </div>
    </header>

    <main>
      <div class="container card-container">
        <% books.forEach(el => { %>
        <div class="product">
          <div class="card">
            <img src="<%= el.img %>" alt="<%= el.name %>" class="product-img" />
            <div class="content-box">
              <h4 class="name"><%= el.name %></h4>
              <p><%= el.desc %></p>
              <div class="btn">
                <h2 class="price"><%= el.price %> sum</h2>
                <a href="/order/<%= el.id %>">Purchase</a>
              </div>
            </div>
          </div>
        </div>
        <% }) %>
      </div>
    </main>
  </body>
</html>
